.App {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  padding: 50px;
  height: 500px;
  width: 500px;
}
.neon {
  font-size: 16px;
  color: whitesmoke;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00b7ff,
    0 0 70px #00b7ff, 0 0 80px #00b7ff, 0 0 100px #00b7ff, 0 0 150px #00b7ff;
  animation: flicker 1s infinite alternate;
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0062ff,
      0 0 70px #0062ff, 0 0 80px #0062ff, 0 0 100px #0062ff, 0 0 150px #0062ff;
  }
}
